euroaleage_app2.py
euroleague_app.py
player_stats_2023.csv
player_stats_2024.csv
.streamlit/secrets.toml
.DS_Store
.git-credentials

# Ignore Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/